@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f0bb;
}

.piano-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4em 1em 1em 1em;
  border-radius: 0.62em;
  background-color: #24272e;
  box-shadow: 0 2em 4em rgba(7, 0, 53, 0.25);
}

.white-key {
  width: 4.37em;
  height: 17.5em;
  background: linear-gradient(to bottom, #fff, #eee);
  border: 1px solid #333;
  border-radius: 0 0 0.3em 0.3em;
  box-sizing: border-box;
  cursor: pointer;
}

.white-key:hover {
  background: linear-gradient(to bottom, #e7ecef, #eee);
}

.black-key {
  width: 2.5em;
  height: 10em;
  border-radius: 0 0 0.3em 0.3em;
  box-sizing: border-box;
  position: absolute;
  background: linear-gradient(to bottom, black, #333);
}

.black-key:hover {
  background: linear-gradient(to bottom, #333, black);
  cursor: pointer;
}

.black-key:nth-child(1) {
  left: 4em;
}

.black-key:nth-child(2) {
  left: 8.37em;
}

.black-key:nth-child(3) {
  left: 17.12em;
}

.black-key:nth-child(4) {
  left: 21.5em;
}

.black-key:nth-child(5) {
  left: 25.87em;
}

.black-key:nth-child(6) {
  left: 34.62em;
}

.black-key:nth-child(7) {
  left: 39em;
}

.black-key:nth-child(8) {
  left: 47.75em;
}

.black-key:nth-child(9) {
  left: 52.12em;
}

.black-key:nth-child(10) {
  left: 56.5em;
}

.black-key:nth-child(10) {
  left: 56.5em;
}

@media screen and (max-width: 1000px) {
  .piano-container {
    font-size: 0.3em;
  }
}
